

* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 14px;
}

html {
    background: #606066;
}

body {
    background: #ffffff;
    width: 960px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
    color: #3583b0;
    padding-bottom: 10px;
    border-bottom: 2px solid #3583b0;
    text-align: center;
    margin: 0 80px 40px;
}

h2 {
    margin: 5px 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    color: #707070;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

main {
    border: 2px solid #a1a1a1;
    border-radius: 12px;
    padding: 20px 50px;
}

header div {
    color: #a1a1a1;
    font-size: 18px;
}

.articul {
    padding-left: 25px;
    font-weight: bold;
    color: #000;
}

p {
    padding: 10px 0 20px;
}

.param {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.sale {
    position: absolute;
    top: -25px;
    left: 50px;
    z-index: 20;
    background: #ff000080;
    border-radius: 50%;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.small {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.overview {
    margin-top: 60px;
}

.more {
    display: block;
    width: 150px;
    margin: 10px auto;
    text-decoration: none;
    text-align: center;
    color: #dde;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    padding: 14px;
    border: 3px solid #777;
    border-radius: 8px;
    background-color: #888;
    transition: background-color .2s, border-color .2s;
}

.more:hover {
    background-color: #3583b0;
    border: 3px solid #28678c;
    color: #ffffff;
    text-shadow: black 2px 2px 4px;
}

footer p {
    padding: 4px 0;
    font-size: 11px;
}

footer {
    padding: 20px;
    color: #707070;
}

/*@media screen and (max-width: 780px) {*/
/*    body {*/
/*        width: 95%;*/
/*    }*/
/*}*/

@media screen and (max-width: 500px){

    body {
        width: 96%;
        min-width: 320px;
    }

    header, .param {
        flex-direction: column;
    }

    header {
        align-items: center;
    }

    header  div {
        margin: 5px;
    }

    main {
        padding: 10px 20px;
    }

    h1 {
        margin: 5px 5px 20px 5px;
    }

    .sale {
        top: -5px;
        left: -5px;
    }

    .foto {
        width: 100%;
    }
}