

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
}

html {
    background: #606066;
}

body {
    background: #ffffff;
    width: 72%;
    margin: 25px auto 40px auto;
    padding: 20px;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
    color: #3583b0;
}

h1 {
    font-size: 52px;
    padding-bottom: 10px;
    border-bottom: 2px solid #3583b0;
    text-align: center;
    margin: 0 80px 40px;
}

h2 {
    font-size: 20px;
    margin: 5px 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

main {
    border: 2px solid #a1a1a1;
    border-radius: 12px;
    padding: 20px 50px;
}

header div {
    color: #a1a1a1;
    font-size: 18px;
}

.articul {
    padding-left: 25px;
    font-weight: bold;
    color: #000;
}

p {
    padding: 10px 0 20px;
}

.blokOverview {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
}

.blokOverview__image {
    position: relative;
}

.blokOverview__text {
    margin: 0 5px;
}

.sale {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 20;
    background: #ff000080;
    border-radius: 50%;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.thumb {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.blokInfo {
    margin-top: 60px;
}

.more {
    display: block;
    width: 150px;
    margin: 10px auto;
    text-decoration: none;
    text-align: center;
    color: #dde;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    padding: 14px;
    border: 3px solid #777;
    border-radius: 8px;
    background-color: #888;
    transition: background-color .2s, border-color .2s;
}

.more:hover {
    background-color: #3583b0;
    border: 3px solid #28678c;
    color: #ffffff;
    text-shadow: black 2px 2px 4px;
}

footer p {
    padding: 4px 0;
    font-size: 11px;
}

footer {
    padding: 20px;
    color: #707070;
}

@media screen and (max-width: 960px) {

    h1 {
        font-size: 6vw;
        margin: 0 20px 40px;
    }

    .blokOverview {
        flex-direction: column;
        align-items: center;
    }

    .blokOverview__image {
        margin-bottom: 40px;
    }

    .blokOverview__text {
        margin-top: 20px;
    }

    .blokInfo {
        margin-top: 40px;
    }
}

@media screen and (max-width: 580px){

    body {
        margin: 5px auto 10px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    header  div {
        margin: 5px;
    }

    main {
        padding: 10px 20px;
    }

    h1 {
        margin: 5px 5px 20px 5px;
    }

    .imageBox {
        width: 100%;
    }

    .sale {
        font-size: 4vw;
    }

    .blokInfo {
        margin-top: 25px;
    }
}

@media screen and (max-width: 440px) {

    body {
        width: 100%;
        padding: 0;
    }

    header {
        padding: 0 0 5px;
    }

    main {
        border: none;
    }

    p {
        font-size: 12px;
    }

    .blokInfo {
        margin-top: 10px;
    }
}

@media screen and (max-width: 320px) {

    p {
        font-size: 11px;
    }

    main {
        border: none;
    }
}